# CONFIG_SECURITY_DEFEX is not set
# CONFIG_FIVE is not set
# CONFIG_FIVE_USE_TZDEV is not set
# CONFIG_TIMA is not set
# CONFIG_TIMA_LKMAUTH is not set
# CONFIG_TIMA_LKM_BLOCK is not set
# CONFIG_UH is not set
# CONFIG_UH_RKP is not set
# CONFIG_RKP_KDP is not set
# CONFIG_RKP_NS_PROT is not set
# CONFIG_RKP_DMAP_PROT is not set
# CONFIG_TZ_ICCC is not set

# CONFIG_SAMSUNG_PRODUCT_SHIP is not set
